body {
	background: url('https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

html {
	height: 100%;
}
.content {
	text-align: center;
	padding-top: 15%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
    border: 0;
    height: 1px;
    width: 400px;
	border-top: 1px solid #ffffff;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p {
	font-size: 20px;
}

.navbar-brand {
	font-size: 40px;
}