html{
	background: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80') no-repeat center center fixed;
	background-size: cover;
}

.container {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
/*	position: sticky;*/
	height: 100%;
	border-style: none;
}

header {
	margin: 0 auto;
	max-width: 900px;
	display: block;
	padding: 20px 0 100px 0;	
	font-family: Nunito;
	font-size: 3rem;
	font-weight: 700;
/*	line-height: 2rem;*/
	text-align: center;
	
}


a.title-header {
	color: #ffffff;
	font-size: 70px;
	text-decoration: none;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	max-width: 960px;
	
}

.form-signin {
	position: relative;
	border: 1px solid #bab0ab;
	border-radius: 4px;
	background-color: #ffffff;/*//#1e7b85//*/
	box-sizing: inherit;
	box-shadow: 2px 2px 2px 0px;
/*
	-moz-box-shadow: 3px 3px 3px 3px;
    -webkit-box-shadow: 3px 3px 3px 3px;
*/
	max-width: 420px;
	padding: 20px;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.text-center h2{
 	display: inline-block;
	font-size: 1.5em;
	font-family: Nunito;	
	text-align: center;
	width: 100%;
}

.close pull-right button {
	margin: 20px;
}

.form-signin .form-control {
	padding: 12px 10px;
	border: 1px solid #DDD;
	border-radius: 0.4em;
	font-size: 0.9375rem;
	font-family: Montserrat;
	box-sizing: border-box;
/*	box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);*/
	width: 100%;	
	outline: none;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}

.form-signin .form-control:focus {
	border: 1px solid rgba(81, 203, 238, 1);
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
}

label {
	font-family: Montserrat;
	line-height: 2em;
}

.form-signin .loginbtn {
	display: block;
	padding: 10px 20px;
	width: 50%;
	margin: 10px auto;
	font-family: Montserrat;
/*	border: 1px solid #bab0ab;*/
	border-style: none;
	border-radius: 0.4em;
	box-shadow: 0 2px 0 rgba(0,0,0,0.5);
	background-color: #99FG66;
	font-size: 1rem; 
	}

.loginbtn:hover {
	border: 2px solid #0055;
	border-bottom: none;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}


#checkbox {
	margin: 5px 5px 5px 0px;
	height: 18px;
	width: 18px;
	border-radius: 5px;
/*	font-size: em;*/
/*	border: 2px solid #FFF;*/
}

span {
	font-family: montserrat;
	font-size: 0.9375rem;
	padding-left: 7.5em;
	margin: auto;
}

.fgtpsw a{
	text-decoration: none;
	color: #000;
}

.fgtpsw p,a:hover {
	color: #;
}

.footer p {
	font-size: 0.9375rem;
	font-family: Montserrat;
	text-align: center;
	width: 100%;
	padding: 2px;
}

.form-signin .field-error {
	padding: 12px 10px;
	font-size: 0.9375rem;
	font-family: Montserrat;
	box-sizing: border-box;
	color: red;
/*	box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);*/
	width: 100%;	
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}

.form-signin .field-message {
	padding: 12px 10px;
	font-size: 0.9375rem;
	font-family: Montserrat;
	box-sizing: border-box;
/*	box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);*/
	width: 100%;	
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}